// see if you can make it visible only when nav open

.navbar{
    height:80px;
    background-size: cover;
    box-shadow: 0 1px 5px 3px black;

    .nav-link{
      color: theme-color(secondary);
      font-size: 20px;
      float: right;
      margin: 10px;
    }
    .order-now{
      border-style: solid;
      border-color: theme-color(secondary);
      border-width: 3px;
    }
    .bg{
      margin-left: -1rem;
      margin-right: -1rem;
      background-size: cover;
    }
}
