$color: #761025;

.top{
  box-shadow: 0 0 10px 2px black;

  .card{
    border-radius: 0;
    border-top-width: .3rem;
    border-bottom-width: .3rem;
    border-color: $color;
    padding: 0;
    max-height: 200px;

    img{
      height: 100%;
      object-fit: cover;
    }
    .card-img-overlay:hover{
      background-color: rgba(255, 255, 255, .2)
    }
  }
}
