

.header-jumbotron{
    height:80vh;
    background-size: cover;
    margin-bottom: 0;

    p, h1 {
      text-align: center;
    }
    p{
      text-shadow: 2px 1px #761025;
    }

    .right{
      background-color: #fff;
      box-shadow: 0 5px 5px 3px black;
      border-radius: 20%;
    }

}
