.base{
  max-height: 35em;
  scroll-behavior: smooth;

  .main{
    height: 25em;
    overflow: scroll;

    .card-deck{
      margin: 0;
      padding: 0;

      .card{
        padding: 0;
      }
    }
  }


}
