<template name="AboutComp">
  <div class="container-fluid p-4">
    <div class="row base">

      <h1 class="display-2">Cocoa Decor</h1>
      <div class="w-100"></div>

    <div class="col-md-12 d-flex flex-column"  id="base">
      <div class="m-auto p-2 sideMenu">

            <button id="first" class="col btn active">Base</button>
            <button id="second" class=" btn">Inspiration</button>
            <button id="third" class=" btn">Style</button>

      </div>

      <div id='first' class="row">
        <!-- trying to put in selectors to get to each section -->

        <div class="col-md-4 mt-0 d-none d-md-block">
          <img src="/img/basecake.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 text">
          <div id="float" class="col-md-9 pt-2 row">
            <div id="card" class="card col">
              <img src={{person}} class="img-fluid card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">Person1</h5>
                <p class="card-text text-justify">{brief description}</p>
              </div>
            </div>

            <div id="card" class="card col">
              <img src={{person}} class="img-fluid card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">Person2</h5>
                <p class="card-text">{brief description}</p>
              </div>
            </div>

        </div>
        <h1 class="display-4">Our Base</h1>
        <div class="w-100"></div>
        <h1>Who we are!</h1>

          <p id='wrapMe' class="text-justify">
            In a free hour, when our power of choice is untrammelled and when nothing prevents our Where does it come from? In a free hour, when our power of choice is untrammelled and when nothing prevents our Where does it come from? In a free hour, when our power of choice is untrammelled and when nothing prevents our Where does it come from? In a free hour, when our power of choice is untrammelled and when nothing prevents our Where does it come from? In a free hour, when our power of choice is untrammelled and when nothing prevents our Where does it come from?Where does it come from? In a free hour, when our power of choice is untrammelled and when nothing prevents our Where does it come from? In a free hour, when our power of choice is untrammelled and when nothing prevents our Where does it come from?
          </p>

        </div>
      </div>


      <div id='second' class="row main">
        <div class="col-md-4 mt-0 d-none d-md-block">
          <img src="/img/inspocake.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 text">
          <div id="float" class="col-md-6 pt-2 row">
            <img src="/img/logo.png" class="img-fluid w-100" alt="">
        </div>


          <h1 class="display-4">Our Inspiration</h1>
          <div class="w-100"></div>
          <h1>How we got here</h1>

          <p id='wrapMe' class="text-justify">
            In a free hour, when our power of choice is untrammelled and when nothing prevents our Where does it come from? In a free hour, when our power of choice is untrammelled and when nothing prevents our Where does it come from?
          </p>

        </div>
      </div>

      <div id='third' class="row main">
        <div class="col-md-4 mt-0 d-none d-md-block">
          <img src="/img/fullcake.png" class="img-fluid" alt="">

        </div>
        <div class="col-md-8 text">

          <div id="float" class="col-md-6 pt-2 row">
            <strong class="text-justify pl-2">
              In a free hour, when our power of choice is untrammelled and when nothing prevents our Where does it come from? In a free hour, when our power of choice is untrammelled and when nothing prevents our Where does it come from? In a free hour, when our power of choice is untrammelled and when nothing prevents our Where does it come from? In a free hour, when our power of choice is untrammelled and when nothing prevents our Where does it come from? In a free hour,
            </strong>

        </div>
        <h1 class="display-4">Our Style</h1>
        <div class="w-100"></div>
        <h1>What's the secret?</h1>
          <p id='wrapMe' class="text-justify">
            In a free hour, when our power of choice is untrammelled and when nothing prevents our Where does it come from? In a free hour, when our power of choice is untrammelled and when nothing prevents our Where does it come from? In a free hour, when our power of choice is untrammelled and when nothing prevents our Where does it come from? In a free hour, when our power of choice is untrammelled and when nothing prevents our Where does it come from? In a free hour,
          </p>

        </div>
      </div>
    </div>


    </div>
  </div>
</template>
