.h{
  display: none;

  img{
    height: 10rem;
    width: 10rem;
  }
}

.home{
  max-height: 25rem;
  overflow: hidden;
}

.invalid {
  background-color: #ffdddd;
}




button {
  padding: 2rem;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
