<template name="SubmitQuote">
    <div class="container py-4 text-center my-3">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Start Your Cake Order Now!</h2>
            </div>
        </div>

        <form class="home" id="home">

          <div class="h" id="phase">
            <h1>What is on the inside matters</h1>
            <strong>Choose your flavor and filling</strong>

            <!-- create component for phase -->
            <!-- then insert each question -->

            <div class="row mx-auto w-75 pb-2">
              <div class="col-sm-6">
                <label for="">Select a Flavor</label>
                <select class="form-control required" id="flavor">
                  <option value="Red Velvet">Red Velvet</option>
                  <option value="Chocolate">Chocolate</option>
                  <option value="Vanilla">Vanilla</option>
                </select>
              </div>
              <div class="col-sm-6">
                <label for="">Select a Filling</label>
                <select class="form-control required" value="Red Velvet" id="filling">
                  <option value="Red Velvet">Red Velvet</option>
                  <option value="Chocolate">Chocolate</option>
                  <option value="Vanilla">Vanilla</option>
                </select>
              </div>
            </div>

          </div>

          <div class="h" id='phase'>
            <h1>What's your idea?</h1>
            <strong>Help us understand what you have in mind</strong>
            <div class="row mx-auto w-75 pb-2">

              <div class="col-sm-5">
                <div class="my-2">
                  <img src="https://via.placeholder.com/200" class="img-fluid mr-auto" id='img-upload' alt="">
                </div>
                <span class="btn btn-warning w-100">
                  <input type="file" id='pic' name="pic" accept="image/*">
                </span>
              </div>

              <div class="col-sm-7">
                <label for="">Tell us about your cake idea</label>
                <textarea class="form-control" id="idea" value='' placeholder="This field is required"></textarea>
                <small class="text-muted">
                  If you forget something we can still fix it later
                </small>
              </div>
            </div>
          </div>

          <div class="h" id="phase">
            <h1>Who wants a cake?</h1>
            <strong>Let us know who we are quoting</strong>
            <div class="row mx-auto w-50 pb-2">

              <div class="col-md-6">
                <label>First Name</label>
                <input type="text" class="form-control" id="firstname">
              </div>
              <div class="col-md-6">
                <label>Last Name</label>
                <input type="text" class="form-control" id="lastname">
              </div>
              <div class="col-sm-12 pt-2">
                <label>E-mail Address</label>
                <input type="email" class="form-control" id="email">
              </div>
            </div>
          </div>

        </form>

        <div name="confirmation" class="h" id="phase">
          <h1 class="display-4">We are excited to work with you!</h1>
          <h1>We will get you a quote within the next few days</h1>

          <!-- put in information 'like a receipt' -->
          <div class="bg-white mx-auto w-75 border">
            <h3> Your Order </h3>
            <div class="col-md-4 mx-auto">
              <div class="my-2">
                <img src="https://via.placeholder.com/200" class="img-fluid mr-auto" id='img-preview' alt="">
              </div>
            </div>
            <div class="col-md-8 mx-auto">
              <div class="row">
                <p class="col-md-4" id="nameFirst">First Name: </p>
                <p class="col-md-4" id="nameLast">Last Name: </p>
              </div>
              <div class="row">
                <p class="col-md-4" id="fillingData">Filling: </p>
                <p class="col-md-4" id="flavorData">Flavor: </p>
              </div>
              <div class="col-sm-12">
                <p id="emailData">Email: </p>
              </div>
            </div>
            <div class="col-sm-12">
              <p id="ideaData">Your idea: </p>
            </div>
          </div>
          <div class="w-100"></div>

            <button id='refresh' class="btn btn-success">Home</button>

        </div>

        <div class="steps pt-4">
          <div>
            <button class="btn btn-warning" id="prevBtn">Previous</button>
            <button class="btn btn-warning" id="nextBtn">Next</button>
          </div>
        </div>

    </div>
</template>

<template name="phase">

</template>
