<!-- this is going to need the js file and to send json data to the db -->

<!-- make the form be completed in stages -->
<!-- stage1: who are you  -->
<!-- stage2:it's on the inside tht matters -->
<!-- stage3: got any pics ;) -->
<!-- stage4: could you give any extra details -->

<template name="SubmitQuote">
    <div class="container py-4 text-center my-3">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Start Your Cake Order Now!</h2>
            </div>
        </div>

        <form class="home" id="home">
          <div class="h" id="phase">
            <h1>What is on the inside matters</h1>
            <strong>Choose your flavor and filling</strong>
            <div class="row mx-auto w-50 pb-2">

              <div class="col-sm-6">
                <label for="">Select a Flavor</label>
                <select name="flavor" class="form-control" id="">
                  <option value="">Red Velvet</option>
                  <option value="">Chocolate</option>
                  <option value="">Vanilla</option>
                </select>
              </div>
              <div class="col-sm-6">
                <label for="">Select a Filling</label>
                <select name="filling" class="form-control" id="">
                  <option value="">Red Velvet</option>
                  <option value="">Chocolate</option>
                  <option value="">Vanilla</option>
                </select>
              </div>

            </div>
          </div>

          <div class="h" id='phase'>
            <h1>What's your idea?</h1>
            <strong>Help us understand what you have in mind</strong>
            <div class="row mx-auto w-75 pb-2">

              <div class="col-sm-4">
                <div class="my-2">
                  <img src="https://via.placeholder.com/200" class="img-fluid mr-auto" alt="">
                </div>
                <button class="btn btn-warning w-100">Add Photos</button>
              </div>

              <div class="col-sm-8">
                <label for="">Tell us about your cake idea</label>
                <textarea class="form-control" id="" value="" placeholder="">
                </textarea>
                <small class="text-muted">
                  If you forget something we can still fix it later
                </small>
              </div>

            </div>
          </div>

          <div class="h" id="phase">
            <h1>Who wants a cake?</h1>
            <strong>Let us know who we are quoting</strong>
            <div class="row mx-auto w-50 pb-2">

              <div class="col-md-6">
                <label for="">First Name</label>
                <input type="text" class="form-control" id="firstname" value="" placeholder="">
              </div>
              <div class="col-md-6">
                <label for="">Last Name</label>
                <input type="text" class="form-control" id="" value="" placeholder="">
              </div>
              <div class="col-sm-12 pt-2">
                <label for="">E-mail Address</label>
                <input type="text" class="form-control" id="" value="" placeholder="">
              </div>

              <div class="col-sm-12 w-50 mx-auto pt-2">
                <button class="btn btn-warning w-100">Request Quote!</button>
              </div>
            </div>
          </div>

          <div style="overflow:auto;">
            <div style="float:right;">
              <button type="button" id="prevBtn">Previous</button>
              <button type="button" id="nextBtn">Next</button>
            </div>
          </div>
        </form>
        
    </div>
</template>
