<template name="SubmitQuote">
    <div class="container my-3">
        <div class="row">
            <div class="col-sm-12">
                <h2>Start Your Cake order Today!</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label for="">First Name</label>
                <input type="text" class="form-control" id="" value="" placeholder="">
                <small class="text-muted">Subtext can go here</small>
            </div>
            <div class="col-sm-6">
                <label for="">Last Name</label>
                <input type="text" class="form-control" id="" value="" placeholder="">
                <small class="text-muted">Subtext can go here</small>
            </div>
            <div class="col-sm-12">
                <label for="">E-mail Address</label>
                <input type="text" class="form-control" id="" value="" placeholder="">
                <small class="text-muted">Subtext can go here</small>
            </div>
            <div class="col-sm-12">
                <label for="">Tell us about your cake idea</label>
                <textarea class="form-control" id="" value="" placeholder=""></textarea>
                <small class="text-muted">Subtext can go here</small>
            </div>
            <div class="col-sm-6">
                <label for="">Select a Flavor</label>
                <select name="" class="form-control" id="">
                    <option value="">Red Velvet</option>
                    <option value="">Chocolate</option>
                    <option value="">Vanilla</option>
                </select>
            </div>
            <div class="col-sm-6">
                <label for="">Select a Filling</label>
                <select name="" class="form-control" id="">
                    <option value="">Red Velvet</option>
                    <option value="">Chocolate</option>
                    <option value="">Vanilla</option>
                </select>
            </div>
            <div class="col-sm-12">
                <div class="w-100 d-flex my-2">
                    <img src="https://via.placeholder.com/150" class="mr-auto" alt="">
                </div>
                <button class="btn btn-warning">Add Photos</button>
            </div>
            <div class="col-sm-12 d-flex">
                <button class="btn btn-success ml-auto">Request Quote!</button>
            </div>
        </div>
    </div>
</template>