<template name="Footer">
    <footer class="bg-primary text-white page-footer font-small blue pt-4">
        <div class="container-fluid text-center text-md-left">

            <div class="row">
                <div class="col-sm-12">
                    <h5 class="text-uppercase">Last Chance for a cake</h5>
                    <p>Contact us today to get started!</p>

                </div>
            </div>


        </div>
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="">Cocoa Decor</a>
        </div>
    </footer>
</template>