<!-- put the links at the bottom to send a call, email, instagram -->


<template name="Footer">
    <footer class="bg-secondary text-white page-footer pt-4">
        <div class="container-fluid">

            <div class="row text-center">

              {{#each sideImg}}
                <div class="col-md-1">
                  <img src="{{src}}" class="side-img d-none d-lg-block" alt="...">
                </div>
                {{/each}}


                <div class="col-md-4">
                  <!-- Refactor -->
                  <h5 class="text-uppercase">{{contactus}}</h5>
                  <!-- make all links from js -->
                  <a href="tel: {{phone.num}}">
                  <img src={{phone.img}} class="footer-img" alt="...">
                  Call Us
                  </a>
                  <a href="mailto: {{email.address}}">
                  <img src={{email.img}} class="footer-img" alt="...">
                  Email Us
                  </a>
                  <a href="{{instagram.address}}">
                  <img src={{instagram.img}} class="footer-img" alt="...">
                  Instagram
                  </a>
                  <p>{{subtext}}</p>

                </div>


                {{#each sideImg}}
                  <div class="col-md-1">
                    <img src="{{src}}" class="side-img d-none d-lg-block" alt="...">
                  </div>
                  {{/each}}

            </div>

            <div class="footer-copyright text-center py-3">© 2019 Copyright:
                <a href="">Cocoa Decor</a>
            </div>


        </div>

    </footer>
</template>
